.task-type-icon {
  display: grid;
  align-items: center;
  justify-content: center;

  padding: 8px;
  margin: 0 8px;
  width: 20px;

  .feature {
	color: var(--feature);
  }

  .issue {
	color: var(--issue);
  }

  .bug {
	color: var(--bug);
  }

  .request {
	color: var(--request)
  }
}
