<app-header></app-header>
<div class="content-container" *ngIf="project && me && tasks">
	<div class="content">
		<div class="back-container" [routerLink]="'/' + project.user.login + '/' + project.name">
			<i class="fas fa-arrow-left"></i>
			<div class="text">Вернуться к проекту</div>
		</div>
		<div class="delimiter"></div>
		<div class="filters">

			<table class="col-1" (change)="change()">
				<tr>
					<td class="text">Название задачи</td>
					<td><input type="text" placeholder="name" name="name" [(ngModel)]="listTask.name"></td>
				</tr>
				<tr>
					<td class="text">Статус задачи</td>
					<td class="select-wrapper">
						<select [(ngModel)]="listTask.status" name="status">
							<option *ngFor="let t of taskStatuses"
							        [value]="t">{{t === '' ? '' : t[0] + t.slice(1).toLowerCase()}}</option>
						</select>
					</td>
				</tr>
			</table>
			<table class="col-2" (change)="change()">
				<tr>
					<td class="text">Приоритет задачи</td>
					<td class="select-wrapper">
						<select [(ngModel)]="listTask.priority" name="priority">
							<option *ngFor="let t of taskPriorities"
							        [value]="t">{{t === '' ? '' : t[0] + t.slice(1).toLowerCase()}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="text">Исполнитель</td>
					<td><input type="text" placeholder="assignee" name="assignee" [(ngModel)]="listTask.assignee"></td>
				</tr>
				<tr>
					<td class="text">Тэги</td>
					<td><input type="text" placeholder="tags" name="tags" [(ngModel)]="listTask.tag"></td>
				</tr>
			</table>
		</div>
		<div class="delimiter"></div>
		<div class="tasks-container">
			<app-tasks-table [tasks]="tasks"></app-tasks-table>
		</div>
	</div>
</div>
