<table class="tasks-table" *ngIf="tasks.length !== 0">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Project</th>
		<th>Type</th>
		<th>Status</th>
		<th>Estimate</th>
		<th>Elapsed</th>
		<th>Opened</th>
		<th>Due</th>
		<th>Subtasks</th>
	</tr>
	<tr class="row" *ngFor="let t of tasks"
	    [routerLink]="'/' + project.user.login + '/' + project.name + '/task/' + t.id">
		<td>#{{t.id}}</td>
		<td>{{t.name}}</td>
		<td>{{t.project.name}}</td>
		<td>
			<app-task-type-icon [type]="t.type"></app-task-type-icon>
		</td>
		<td>
			<app-task-status-icon [status]="t.lastActivity.status" *ngIf="t.lastActivity"></app-task-status-icon>
			<ng-container *ngIf="!t.lastActivity">-</ng-container>
		</td>
		<td>{{t.estimate ? t.estimate + 'h' : '-'}}</td>
		<td [ngClass]="{'expired': t.estimate && t.elapsed > t.estimate}">{{t.elapsed ? t.elapsed + 'h' : '-'}}</td>
		<td>{{formatDate(t.opened)}}</td>
		<td>{{t.due ? formatDate(t.due) : '-'}}</td>
		<td>{{t.subtasks.length === 0 ? '-' : t.subtasks.length}}</td>
	</tr>
</table>
