<table class="tasks-table" *ngIf="tasks && tasks.length !== 0">
	<tr>
		<!--TODO: sort-->
		<th>Id</th>
		<th>Name</th>
		<th *ngIf="showProject">Project</th>
		<th>Type</th>
		<th>Status</th>
		<th>Priority</th>
		<th>Start</th>
		<th>Due</th>
		<th>Subtasks</th>
		<th>Assignee</th>
	</tr>
	<tr class="row" *ngFor="let t of tasks"
	    [routerLink]="'/' + t.project.user.login + '/' + t.project.name + '/task/' + t.id">
		<td>#{{t.id}}</td>
		<td>{{t.name}}</td>
		<td *ngIf="showProject">{{t.project.name}}</td>
		<td>
			<app-task-type-icon [type]="t.type"></app-task-type-icon>
		</td>
		<td>
			<app-task-status-icon [status]="t.status" *ngIf="t.status"></app-task-status-icon>
			<div class="text" *ngIf="!t.status">-</div>
		</td>
		<td>
			<app-task-priority-icon [priority]="t.priority" *ngIf="t.priority"></app-task-priority-icon>
			<div class="text" *ngIf="!t.priority">-</div>
		</td>
		<td>{{t.started ? formatDate(t.started) : formatDate(t.opened)}}</td>
		<td [ngClass]="{'expired': t.due && !isPast(t.due)}">{{t.due ? formatDate(t.due) : '-'}}</td>
		<td>{{t.subtasks.length === 0 ? '-' : t.subtasks.length}}</td>
		<td *ngIf="t.assignee">@{{t.assignee.login}}</td>
		<td *ngIf="!t.assignee">-</td>
	</tr>
</table>
