* {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --bright: #F5F5F5;
  --mainblue: #5390e4;
  --darkblue: #447cd2;
  --dark: #494949;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bright);
}

input {
  border: silver solid 1px;
  border-radius: 4px;
}

button {
  background: var(--mainblue);

  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;

  cursor: pointer;
}
