<div class="overlay">
	<div class="register-container">
		<div class="text">Регистрация</div>
		<form class="register-form" (ngSubmit)="register()">
			<input type="text" placeholder="login" [(ngModel)]="verifiableRegisterUser.login" name="login">
			<input type="password" placeholder="password" [(ngModel)]="verifiableRegisterUser.password" name="password">
			<input type="password" placeholder="confirm password" [(ngModel)]="verifiableRegisterUser.confirmPassword"
			       name="confirm password">
			<div class="auth-hint">
				<div class="text">Уже зарегистрирован?</div>
				<a [routerLink]="'/auth'">Войти</a>
			</div>
			<button type="submit">Зарегистрироваться</button>
		</form>
	</div>
</div>
