<app-header></app-header>
<div class="content-container" *ngIf="user && me">
	<div class="content">
		<div class="profile">
			<div class="header-container">
				<div class="header">
					<app-avatar class="avatar" [user]="user"></app-avatar>
					<div class="name">
						<div class="text"
						     [ngClass]="{'editing': editMode}"
						     [contentEditable]="editMode"
						     [textContent]="user.userInfo.name"
						     (input)="user.userInfo.name = $event.target.textContent">
							{{user.userInfo.name}}
						</div>
						<div class="skills" *ngIf="!editMode && skills && skills.length !== 0">
							<div class="text skill" *ngFor="let skill of skills">{{skill}}</div>
						</div>
						<div class="skills" *ngIf="editMode">
						<textarea rows="1" [(ngModel)]="user.userInfo.skills" placeholder="Position">
						</textarea>
						</div>
					</div>
					<div class="login">
						<div class="text"
						     [ngClass]="{'editing': editMode}"
						     [contentEditable]="editMode"
						     [textContent]="user.login"
						     (input)="user.login = $event.target.textContent">
							@{{user.login}}
						</div>
					</div>
					<div class="joined">
						<div class="text">joined on {{formatDate(user.joined)}}</div>
					</div>
					<button class="edit" type="submit" (click)="edit()" *ngIf="me.id === user.id">Edit</button>
				</div>
			</div>
			<div class="edit-choice"
			     *ngIf="editMode">
				<button
						(click)="applyEdit()">Apply
				</button>
				<div class="cancel"
				     (click)="cancelEdit()">Cancel
				</div>
			</div>
			<div class="profile-content">
				<app-profile-projects></app-profile-projects>
				<app-profile-following></app-profile-following>
				<app-profile-followers></app-profile-followers>
			</div>
		</div>
	</div>
</div>
