<app-header></app-header>
<div class="content-container" *ngIf="user && me">
	<div class="content">
		<div class="profile">
			<div class="header-container">
				<div class="header">
					<div class="name">
						<div class="text"
						     [ngClass]="{'editing': editMode}"
						     [contentEditable]="editMode"
						     [textContent]="user.userInfo.name"
						     (input)="user.userInfo.name = $event.target.textContent">
							{{user.userInfo.name}}
						</div>
					</div>
					<div class="login">
						<div class="text"
						     [ngClass]="{'editing': editMode}"
						     [contentEditable]="editMode"
						     [textContent]="user.login"
						     (input)="user.login = $event.target.textContent">
							@{{user.login}}
						</div>
					</div>
					<div class="joined">
						<div class="text">joined on {{formatDate(user.joined)}}</div>
					</div>
					<button class="follow" type="submit" (click)="follow()" *ngIf="me.id !== user.id">
						{{followed ? 'Unfollow' : 'Follow'}}
					</button>
					<button class="edit" type="submit" (click)="edit()" *ngIf="me.id === user.id">Edit</button>
					<div class="skills" *ngIf="!editMode && skills && skills.length !== 0">
						<div class="text skill" *ngFor="let skill of skills">{{skill}}</div>
					</div>
					<div class="skills" *ngIf="editMode">
						<textarea rows="3" [(ngModel)]="user.userInfo.skills" placeholder="Skills, space separated">
						</textarea>
					</div>
				</div>
				<div class="menu">
					<div class="tab" (click)="changeTab('projects')"
					     [ngClass]="{'active': tab === 0 || !tab}">
						<div class="text">Projects</div>
					</div>
					<div class="tab" (click)="changeTab('followers')"
					     [ngClass]="{'active': tab === 1}">
						<div class="text">Followers</div>
					</div>
					<div class="tab" (click)="changeTab('following')"
					     [ngClass]="{'active': tab === 2}">
						<div class="text">Following</div>
					</div>
				</div>
			</div>
			<div class="edit-choice"
			     *ngIf="editMode">
				<button
						(click)="applyEdit()">Apply
				</button>
				<div class="cancel"
				     (click)="cancelEdit()">Cancel
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
