.content-container {
  .content {
	display: flex;
	flex-direction: column;

	padding: 10px;

	.heading {
	  margin: 0 10%;
	}

	.activity-form {
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;

	  margin: 0 10%;

	  .task-status-wrapper, .elapsed-wrapper, .assignee-wrapper, .suggestions, .description-wrapper {
		margin: 10px;
	  }

	  .task-status-wrapper {

		.select-wrapper {
		  display: flex;
		  padding: 3px;
		}
	  }

	  .elapsed-wrapper {

		input {
		  width: 100px;
		  text-align: right;
		}
	  }

	  .suggestions {

		.suggestion {

		  .skills {
			display: flex;
			align-items: center;

			.skill {
			  margin-right: 5px;
			  margin-top: 6px;
			  font-size: 18px;
			  padding: 2px;
			  color: white;
			  background: var(--mainblue);
			  border-radius: 4px;
			}
		  }
		}
	  }

	  .description-wrapper {
		input {
		  width: 100%;
		}
	  }

	  button {
		margin: 10px;
	  }
	}
  }
}
