<app-header></app-header>
<div class="content-container">
	<div class="content">
		<div class="heading">Create a new activity</div>
		<form class="activity-form">
			<div class="task-status-wrapper">
				<div class="text">Task status</div>
				<div class="select-wrapper">
					<select [(ngModel)]="activity.status" name="activity-form">
						<option *ngFor="let t of taskStatuses" [value]="t">{{t[0] + t.slice(1).toLowerCase()}}</option>
					</select>
					<app-task-status-icon [status]="activity.status"></app-task-status-icon>
				</div>
			</div>

			<div class="elapsed-wrapper">
				<div class="text">Elapsed</div>
				<input type="text" placeholder="0" name="estimate" [(ngModel)]="activity.elapsed">h
			</div>

			<div class="assignee-wrapper">
				<div class="text">Assignee</div>
				@<input type="text" placeholder="assignee login" name="assignee" [(ngModel)]="activity.assigneeLogin">
			</div>

			<div class="description-wrapper">
				<div class="text">Description</div>
				<input type="text" placeholder="description" name="description" [(ngModel)]="activity.description">
			</div>

			<button type="submit" (click)="create()">Create activity</button>
		</form>
	</div>
</div>
