<app-header>
</app-header>
<div class="content-container">
	<div class="content">
		<div class="heading">Create a new project</div>
		<form class="project-form">
			<div class="name-wrapper">
				<div class="text">Project name</div>
				<input type="text" placeholder="name">
			</div>
			<div class="description-wrapper">
				<div class="text">Description</div>
				<input type="text" placeholder="description">
			</div>
			<div class="public-private">
				<div class="public-wrapper">
					<input type="radio" checked="checked">
					<i class="fas fa-unlock-alt public"></i>
					<div class="text">Public</div>
					<div class="description">Anyone can see project and its activity</div>
				</div>
				<div class="private-wrapper">
					<input type="radio">
					<i class="fas fa-lock private"></i>
					<div class="text">Private</div>
					<div class="description">You manually give access to a project</div>
				</div>
			</div>
			<button type="submit">Create project</button>
		</form>
	</div>
</div>

