.content-container {
  .content {
    display: flex;
    flex-direction: column;

    padding: 10px;

    .heading {
      margin: 0 10%;
    }

    .project-form {
      margin: 10px 10%;

      .name-wrapper, .description-wrapper {
        margin: 10px;
      }

      .description-wrapper {
        input {
          width: 100%;
        }
      }

      .public-private {
        display: flex;
        flex-direction: column;

        margin: 20px;

        width: 100%;

        .public-wrapper, .private-wrapper {
          display: grid;
          grid-template-columns: 30px 30px auto;
          grid-template-rows: auto auto;

          align-items: center;
          justify-items: start;

          width: 100%;

          input {
            grid-column: 1/2;
            grid-row: 1/3;

            border: 0;
            margin: 0;
            width: 100%;
            height: 18px;

            align-self: center;
            justify-self: center;
          }

          i {
            grid-column: 2/3;
            grid-row: 1/3;


            justify-self: center;
          }

          .text {
            grid-column: 3/4;
            grid-row: 1/2;

            width: 100%;
          }

          .description {
            grid-column: 3/4;
            grid-row: 2/3;

            font-size: 18px;
          }
        }
      }

      button {
        margin: 10px;
      }
    }
  }
}
