.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  align-self: center;
  justify-self: center;

  padding: 10px;

  i {
	color: var(--gray);
	font-size: 200px;
  }

  .text {
	color: var(--gray);
  }

}
