.content-container {

  .content {

	.back-container, .name-container, .info-container, .description-container, .tag-container, .subtasks-container, .activities-container, .comments-container {
	  padding: 10px;
	}

	.back-container {
	  display: flex;
	  align-items: center;

	  cursor: pointer;

	  i {
		padding: 4px;
		color: var(--gray);
	  }

	  .text {
		padding: 4px;
		color: var(--gray);
	  }
	}

	.back-container:hover {
	  i, .text {
		color: black;
	  }
	}

	.name-container {
	  display: flex;
	  align-items: center;

	  .heading {
		padding: 4px;
		font-weight: 500;
	  }

	  .edit {
		margin: 2px;

		i {
		  color: var(--gray);
		  font-size: 20px;
		  padding: 4px;
		  cursor: pointer
		}

		i:hover {
		  color: var(--mainblue);
		}
	  }

	  .opened {
		margin-left: auto;

		.text {
		  font-size: 20px;
		  color: var(--gray);
		}
	  }
	}

	.info-container {
	  display: flex;
	  flex-direction: column;

	  div {
		display: flex;
		align-items: center;

		padding: 2px;

		.text, .pre {
		  font-size: 20px;
		}
	  }

	  .linkable {
		cursor: pointer;
	  }

	  .linkable:hover {

		.text {
		  color: var(--darkblue);
		  text-decoration: underline;
		}
	  }

	}

	.description-container, .tag-container {
	  .header {
		font-size: 20px;
		color: var(--gray)
	  }

	  .text {
		font-size: 20px;
		white-space: pre-wrap;
	  }
	}

	.tag-container {
	  .tag-wrapper {
		display: flex;
		align-items: center;

		.tag {
		  background: var(--mainblue);
		  border-radius: 5px;
		  color: white;
		  padding: 2px 4px;
		  margin-right: 5px;
		}
	  }
	}

	.subtasks-container {
	  display: flex;
	  flex-direction: column;

	  .subtasks-header {
		display: flex;
		align-items: center;

		.text {
		  font-size: 20px;
		  color: var(--gray)
		}

		.new-subtask-button {
		  margin: 0 8px;

		  i {
			font-size: 18px;
		  }
		}
	  }

	  .no-subtasks {
		font-size: 20px;
		font-style: italic;
	  }
	}

	.activities-container {
	  display: flex;
	  flex-direction: column;

	  .activities-header {
		display: flex;
		align-items: center;

		.text {
		  font-size: 20px;
		  color: var(--gray)
		}

		.new-activity-button {
		  margin: 0 8px;

		  i {
			font-size: 18px;
		  }
		}
	  }

	  .no-activities {
		font-size: 20px;
		font-style: italic;
	  }
	}

	.comments-container {

	  .text {
		font-size: 20px;
		color: var(--gray)
	  }

	  .no-comments {
		font-size: 20px;
		font-style: italic;
	  }

	  .comments {
		display: flex;
		flex-direction: column;
		width: 100%;

		.comment {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: auto auto;

		  padding: 10px;
		  margin: 5px;

		  border: 1px solid silver;
		  border-radius: 5px;

		  white-space: pre-wrap;

		  .poster {
			grid-column: 1/2;
			grid-row: 1/2;

			cursor: pointer;

			&:hover {
			  color: var(--mainblue);
			  text-decoration: underline;
			}
		  }

		  .content {
			grid-column: 1/3;
			grid-row: 2/3;

			color: black;
			font-size: 20px;
		  }

		  .timestamp {
			grid-column: 2/3;
			grid-row: 1/2;
			justify-self: flex-end;
		  }

		}
	  }

	  .new-comment {
		width: 100%;
		display: flex;
		flex-direction: column;

		textarea {
		  flex: 1;
		  margin: 4px;
		  padding: 10px;

		  border-radius: 5px;
		}

		button {
		  margin: 4px;
		}
	  }

	}

  }
}
