<app-header></app-header>
<div class="content-container" *ngIf="task && me">
	<div class="content">
		<div class="back-container" [routerLink]="'/' + task.project.user.login + '/' + task.project.name">
			<i class="fas fa-arrow-left"></i>
			<div class="text">Back to project</div>
		</div>
		<div class="delimiter"></div>
		<div class="name-container">
			<div class="heading">#{{task.id}}</div>
			<div class="heading" [ngClass]="{'editing': editMode}"
			     [contentEditable]="editMode"
			     [textContent]="task.name"
			     (input)="task.name = $event.target.textContent">
				{{task.name}}
			</div>
			<app-task-type-icon [type]="task.type"></app-task-type-icon>
			<app-task-status-icon [status]="task.status" *ngIf="task.status"></app-task-status-icon>
			<div class="edit" title="Edit project"
			     *ngIf="!editMode"
			     (click)="edit()">
				<i class="fas fa-pen"></i>
			</div>
			<div class="opened">
				<div class="text">opened on {{formatDate(task.opened)}}</div>
			</div>
		</div>
		<div class="info-container">
			<div class="type">
				<div class="pre">Type:</div>
				<div class="text">
					{{task.type[0] + task.type.toString().slice(1).toLowerCase()}}
				</div>
				<app-task-type-icon [type]="task.type"></app-task-type-icon>
			</div>
			<div class="status" *ngIf="task?.status">
				<div class="pre">Status:</div>
				<div class="text">
					{{task.status[0] + task.status.toString().slice(1).toLowerCase()}}
				</div>
				<app-task-status-icon [status]="task.status"></app-task-status-icon>
			</div>
			<div class="creator linkable">
				<div class="pre">Creator:</div>
				<div class="text" [routerLink]="'/' + task.creator.login">
					@{{task.creator.login}}
				</div>
			</div>
			<div class="assignee linkable" *ngIf="task.assignee">
				<div class="pre">Assignee:</div>
				<div class="text" [routerLink]="'/' + task.assignee.login">
					@{{task.assignee.login}}
				</div>
			</div>
			<div class="project linkable">
				<div class="pre">Project:</div>
				<div class="text" [routerLink]="'/' + task.project.user.login + '/' + task.project.name">
					{{task.project.name}}
				</div>
			</div>
			<div class="parent-task linkable" *ngIf="task.parentTaskId && parentTask">
				<div class="pre">Parent task:</div>
				<div class="text"
				     [routerLink]="'/' + task.project.user.login + '/' + task.project.name + '/task/' + parentTask.id">
					{{'#' + parentTask.id + ' ' + parentTask.name}}
				</div>
			</div>
			<div class="elapsed" *ngIf="task.elapsed">
				<div class="pre">Elapsed:</div>
				<div class="text">
					{{task.elapsed}}h
				</div>
			</div>
			<div class="estimate" *ngIf="task.estimate">
				<div class="pre">Estimate:</div>
				<div class="text">
					{{task.estimate}}h
				</div>
			</div>
			<div class="started" *ngIf="task.started">
				<div class="pre">Start:</div>
				<div class="text">
					{{formatDate(task.started)}}
				</div>
			</div>
			<div class="started" *ngIf="!task.started">
				<div class="pre">Start:</div>
				<div class="text">
					{{formatDate(task.opened)}}
				</div>
			</div>
			<div class="due" *ngIf="task.due">
				<div class="pre">Due:</div>
				<div class="text" [ngClass]="{'expired': !isPast(task.due)}">
					{{formatDate(task.due)}}
				</div>
			</div>
		</div>
		<div class="delimiter" *ngIf="task.tag || editMode"></div>
		<div class="tag-container" *ngIf="task.tag || editMode">
			<div class="header">Tags</div>
			<div class="text"
			     *ngIf="editMode"
			     [ngClass]="{'editing': editMode}"
			     [contentEditable]="editMode"
			     [textContent]="task.tag"
			     (input)="task.tag = $event.target.textContent">
				{{task.tag}}
			</div>
			<div class="tag-wrapper"
			     *ngIf="!editMode">
				<div class="tag" *ngFor="let tag of task.tag.split(' ')">{{tag}}</div>
			</div>
		</div>
		<div class="delimiter" *ngIf="task.description || editMode"></div>
		<div class="description-container" *ngIf="task.description || editMode">
			<div class="header">Description</div>
			<div class="text"
			     [ngClass]="{'editing': editMode}"
			     [contentEditable]="editMode"
			     [textContent]="task.description"
			     (input)="task.description = $event.target.textContent">
				{{task.description}}
			</div>
		</div>
		<div class="delimiter"></div>
		<div class="subtasks-container" *ngIf="!editMode">
			<div class="subtasks-header">
				<div class="text">Subtasks</div>
				<button class="new-subtask-button"
				        [routerLink]="'/' + task.project.user.login + '/' + task.project.name + '/task/create'"
				        [queryParams]="{parentTaskId: task.id}" title="New subtask">
					<i class="fas fa-plus"></i>
				</button>
			</div>
			<app-tasks-table [tasks]="task.subtasks">
			</app-tasks-table>
			<div *ngIf="task.subtasks.length === 0" class="no-subtasks">No subtasks yet.</div>
		</div>
		<div class="delimiter"></div>
		<div class="activities-container" *ngIf="!editMode && activities">
			<div class="activities-header">
				<div class="text">Activities</div>
				<button class="new-activity-button" [routerLink]="'activity/create'" title="New activity">
					<i class="fas fa-plus"></i>
				</button>
			</div>
			<app-activity-list [activities]="activities"></app-activity-list>
			<div *ngIf="activities.length === 0" class="no-activities">No activities yet.</div>
		</div>
		<div class="delimiter"></div>
		<div class="comments-container" *ngIf="!editMode && comments">
			<div class="text">Comments</div>
			<div class="no-comments" *ngIf="comments.length === 0">No comments yet.</div>
			<div class="comments">
				<div class="comment" *ngFor="let comment of comments">
					<div class="text poster">@{{comment.creator.login}}</div>
					<div class="text content">{{comment.text}}</div>
					<div class="text timestamp">{{formatDateTime(comment.timestamp)}}</div>
				</div>
			</div>
			<div class="new-comment">
				<textarea rows="3" [(ngModel)]="newComment.text" placeholder="New comment"></textarea>
				<button (click)="postComment()">Post</button>
			</div>
		</div>
		<div class="delimiter"></div>
		<div class="edit-choice"
		     *ngIf="editMode">
			<button
					(click)="applyEdit()">Apply
			</button>
			<div class="cancel"
			     (click)="cancelEdit()">Cancel
			</div>
		</div>
	</div>
</div>
