<app-header></app-header>
<div class="content-container">
	<div class="content">
		<div class="heading">Create a new task</div>
		<form class="task-form">
			<div class="task-type-wrapper">
				<div class="text">Task type<span class="required">*</span></div>
				<div class="select-wrapper">
					<select [(ngModel)]="task.type" name="task-form">
						<option *ngFor="let t of taskTypes" [value]="t">{{t[0] + t.slice(1).toLowerCase()}}</option>
					</select>
					<app-task-type-icon [type]="task.type"></app-task-type-icon>
				</div>
			</div>
			<div class="name-wrapper">
				<div class="text">Task name<span class="required">*</span></div>
				<input type="text" placeholder="name" name="name" [(ngModel)]="task.name">
			</div>
			<div class="due-wrapper">
				<div class="text">Due</div>
				<input type="date" name="due" [(ngModel)]="task.due">
			</div>
			<div class="estimate-wrapper">
				<div class="text">Estimate</div>
				<input type="text" placeholder="0" name="estimate" [(ngModel)]="task.estimate">h
			</div>
			<div class="description-wrapper">
				<div class="text">Description</div>
				<textarea type="text" placeholder="description" name="description" rows="10" [(ngModel)]="task.description">
				</textarea>
			</div>

			<button type="submit" (click)="open()">Open task</button>
		</form>
	</div>
</div>
