.project {
  display: flex;
  align-items: center;

  padding: 1px;

  .is-open-status {

	i {
	  font-size: 20px;
	  padding: 4px;
	}

	.public-wrapper {
	  color: var(--public-lock);
	}

	.private-wrapper {
	  color: var(--private-lock);
	}
  }

  .text {
	margin: 0 1px;
  }
}

.project:hover {
  text-decoration: underline;
  color: var(--mainblue);
  cursor: pointer;
}
