.content-container {

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    .header-container {
      background: url('../../../assets/header/project-header.jpg');
      background-size: cover;

      .header {
        display: flex;
        align-items: center;

        padding: 200px 15px 15px 15px;
        background: rgba(255, 255, 255, 0.7);

        .is-open-status {

          i {
            font-size: 20px;
            padding: 6px;
          }

          .public-wrapper {
            color: var(--public-lock);
          }

          .private-wrapper {
            color: var(--private-lock);
          }
        }

        .name {
          display: flex;
          align-items: center;

          .text {
            color: var(--darkblue);

            cursor: pointer;
          }

          .text:hover {
            text-decoration: underline;
          }

          .delimiter {
            color: var(--dark);
            margin: 0 4px;
          }
        }

        .created {
          margin-left: auto;

          .text {
            margin: 4px;

            font-size: 18px;
            color: var(--gray);
          }
        }
      }
    }

    .description-container {
      padding: 10px;

      .description {
        font-size: 20px;
        color: var(--gray)
      }

      .text {

      }
    }

    .about-container {
      padding: 10px;

      .about {
        font-size: 20px;
        color: var(--gray)
      }

      .text {

      }
    }
  }
}
