.team-container {
  padding: 10px;
  margin-bottom: 100px;

  .team {
	font-size: 20px;
	color: var(--gray)
  }

  .members {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.member {
	  display: flex;
	  align-items: center;
	  padding-bottom: 10px;

	  .remove {
		margin-left: 10px;
		color: var(--gray);

		&:hover {
		  color: var(--bug);
		}
	  }
	}

	.login {
	  width: 30%;
	}

	.linkable {
	  cursor: pointer;

	  &:hover {
		color: var(--darkblue);
		text-decoration: underline;
	  }
	}

	select {
	  margin-left: 10px;
	  padding: 2px;
	}

	.add-member {
	  display: flex;
	  align-items: center;

	  div {
		margin-right: 10px;
	  }
	}

	.suggestions {

	  .suggestion {

		.name {

		}

		.skills {
		  display: flex;
		  align-items: center;

		  .skill {
			margin-right: 5px;
			margin-top: 6px;
			font-size: 18px;
			padding: 2px;
			color: white;
			background: var(--mainblue);
			border-radius: 4px;
		  }
		}

		.role {

		}

		.add {

		}
	  }
	}

  }

}
