<div class="team-container">
	<div class="team">Team</div>
	<div class="members">
		<div class="member" *ngFor="let member of members">
			<div class="login linkable" [routerLink]="'/' + member.user.login">@{{member.user.login}}</div>
			<select
					*ngIf="member"
					[(ngModel)]="member.role"
					(change)="updateMember(member)"
					[disabled]="myRole.toString() === 'MEMBER' || member.role.toString() === 'OWNER' || member.user.id === me.id">
				<option *ngFor="let r of roles" [value]="userRole[r]">{{userRole[r].toLowerCase()}}</option>
			</select>
			<div class="remove" *ngIf="myRole.toString() !== 'MEMBER' && member.role !== 'OWNER' && member.user.login !== me.login"
			     (click)="removeMember(member)">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="add-member" *ngIf="myRole.toString() !== 'MEMBER'">
			<div class="text">Add new member:</div>
			<input type="text" class="login" [(ngModel)]="query" (keyup)="search()"
			       placeholder="login, name, position...">
			<select [(ngModel)]="newMember.role">
				<option *ngFor="let r of roles" [value]="userRole[r]">{{userRole[r].toLowerCase()}}</option>
			</select>
		</div>
		<table class="suggestions" *ngIf="suggestions">
			<tr class="suggestion" *ngFor="let suggestion of suggestions">
				<td class="text name">{{suggestion.userInfo.name || suggestion.login}}</td>
				<td class="skills">
					<div class="text skill" *ngFor="let skill of suggestion.skillList">{{skill}}</div>
				</td>
				<td class="add">
					<button (click)="addMember(suggestion)">Add</button>
				</td>
			</tr>
		</table>
	</div>
</div>

