.content-container {

  .profile {

    .header-container {
      background: url('../../../assets/header/project-header.jpg');
      background-size: cover;

      .header {
        display: flex;
        align-items: flex-end;

        padding: 200px 15px 15px 15px;
        background: rgba(255, 255, 255, 0.7);

        .name-container {
          display: flex;
          flex-direction: column;

          .name {
            .text {
              font-size: 26px;
            }
          }

          .login {
            .text {
              font-size: 18px;
              color: var(--gray);
            }
          }
        }

        .joined {
          margin-left: auto;

          .text {
            margin: 4px;

            font-size: 18px;
            color: var(--gray);
          }
        }
      }

      .menu {
        display: flex;
        align-items: stretch;
        justify-content: space-around;

        padding: 0 40px;

        background: rgba(255, 255, 255, 0.7);

        .tab {
          width: 100%;
          border-radius: 3px 3px 0 0;

          .text {
            padding: 6px;
            text-align: center;

            color: var(--gray);
          }
        }

        .active {
          border-top: var(--mainblue) solid 4px;
          background: white;

          .text {
            color: black;
          }
        }
      }
    }
  }
}
