.content-container {

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    .header-container {
      background: url('../../../../assets/header/project-header.jpg');
      background-size: cover;

      .header {
        display: flex;
        align-items: center;

        padding: 200px 15px 15px 15px;
        background: rgba(255, 255, 255, 0.7);

        .is-open-status {

          i {
            font-size: 20px;
            padding: 6px;
          }

          .public-wrapper {
            color: var(--public-lock);
          }

          .private-wrapper {
            color: var(--private-lock);
          }
        }

        .name {
          display: flex;
          align-items: center;

          .text {
            color: var(--darkblue);

            cursor: pointer;
          }

          .text:hover {
            text-decoration: underline;
          }

          .name-delimiter {
            color: var(--dark);
            margin: 0 4px;
          }

          .name-delimiter:hover {
            text-decoration: none;
            cursor: unset;
          }
        }

        .edit {
          margin: 2px;

          i {
            color: var(--gray);
            font-size: 20px;
            padding: 4px;
            cursor: pointer
          }

          i:hover {
            color: var(--mainblue);
          }
        }

        .created {
          margin-left: auto;

          .text {
            margin: 4px;

            font-size: 18px;
            color: var(--gray);
          }
        }
      }
    }

    .description-container {
      padding: 10px;

      .description {
        font-size: 20px;
        color: var(--gray)
      }
    }

    .about-container {
      padding: 10px;

      .about {
        font-size: 20px;
        color: var(--gray)
      }
    }

    .tasks-container {
      padding: 10px;

      .tasks-header {
        display: flex;
        align-items: center;

        .tasks {
          font-size: 20px;
          color: var(--gray)
        }

        .new-task-button {
          margin: 0 8px;

          i {
            font-size: 18px;
          }
        }
      }

      .no-tasks {
        font-size: 20px;
        font-style: italic;
      }
    }
  }
}
