<app-header></app-header>
<div class="content-container" *ngIf="project && me && tasks">
	<div class="project">
		<div class="header-container">
			<div class="header">
				<div class="is-open-status"
				     [ngClass]="{'editing': editMode}"
				     (click)="editMode ? project.isPublic = !project.isPublic : null">
					<i class="fas fa-unlock-alt public-wrapper"
					   *ngIf="project.isPublic === true"></i>
					<i class="fas fa-lock private-wrapper"
					   *ngIf="project.isPublic === false"></i>
				</div>
				<div class="name">
					<div class="text"
					     [routerLink]="'/' + me.login">
						{{me.login}}
					</div>
					<div class="text name-delimiter">/</div>
					<div class="text"
					     [ngClass]="{'editing': editMode}"
					     [contentEditable]="editMode"
					     [routerLink]="'/' + me.login + '/' + project.name"
					     [textContent]="project.name"
					     (input)="project.name = $event.target.textContent">
						{{project.name}}
					</div>
				</div>
				<div class="edit" title="Edit project"
				     *ngIf="!editMode"
				     (click)="edit()">
					<i class="fas fa-pen"></i>
				</div>
				<div class="created">
					<div class="text">created on {{formatDateWithTime(project.created)}}</div>
				</div>
			</div>
		</div>
		<div class="description-container"
		     *ngIf="(project.description && project.description.length != 0) || editMode">
			<div class="description">Description</div>
			<div class="text"
			     [ngClass]="{'editing': editMode}"
			     [contentEditable]="editMode"
			     [textContent]="project.description"
			     (input)="project.description = $event.target.textContent">
				{{project.description}}
			</div>
		</div>
		<div class="delimiter"></div>
		<div class="tasks-container"
		     *ngIf="!editMode">
			<div class="tasks-header">
				<div class="tasks">Tasks</div>
				<button class="new-task-button" [routerLink]="'task/create'" title="New task">
					<i class="fas fa-plus"></i>
				</button>
			</div>
			<app-tasks-table [tasks]="tasks"
			                 [project]="project">
			</app-tasks-table>
			<div *ngIf="tasks.length === 0" class="no-tasks">No tasks yet.</div>
		</div>
		<div class="delimiter" *ngIf="!editMode"></div>
		<div class="about-container"
		     *ngIf="(project.about && project.about.length != 0) || editMode">
			<div class="about">About</div>
			<div class="text"
			     [ngClass]="{'editing': editMode}"
			     [contentEditable]="editMode"
			     [textContent]="project.about"
			     (input)="project.about = $event.target.textContent">{{project.about}}</div>
		</div>
		<div class="delimiter" *ngIf="!editMode"></div>
		<div class="stats-container">
			<div class="stats">Stats</div>
			<app-project-activity-chart [project]="project"></app-project-activity-chart>
		</div>
		<div class="edit-choice"
		     *ngIf="editMode">
			<button
					(click)="applyEdit()">Apply
			</button>
			<div class="cancel"
			     (click)="cancelEdit()">Cancel
			</div>
		</div>
	</div>
</div>
